@import '~variables.scss';

$text-color: black;

:host {
	display: block;
	padding: 15px;
	background-color: white;
	color: $text-color;
	animation: show .5s;
	h1 {
		color: $gray;
	}
	h2 {
		border-radius: 7px 7px 0 0;
		border: 1px solid $purple;
		margin-top: 15px;
		padding: 15px;
		color: white;
		background-color: $purple;
	}
	ul {
		list-style-type: none;
		border: 1px solid $light-gray;
		border-radius: 0 0 7px 7px;
		li {
			padding: 15px 15px 10px 15px;
		}
		li:nth-child(even) {
			background-color: $light-gray;
		}
		li:last-child {
			border-radius: 0 0 7px 7px;
		}
	}
	button {
		background-color: transparent;
		margin-top: 15px;
		padding: 0;
		height: initial;
		color: $text-color;
		padding: 10px 25px;
		border: 2px solid $text-color;
		border-radius: 7px;
		font-weight: bold;
		transition: color .2s, border-color .2s, background-color .2s;
		
	}
	button:hover {
		background-color: $purple;
		border-color: $purple;
		color: white;
	}
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1025px) {

	:host {
		padding: 15px calc((100vw - 995px) / 2);
	}
}
