<form (submit)="register()">
    <div class="row">
        <input type="text" class="form-control" name="name" placeholder="Voornaam" [(ngModel)]="credentials.name">
    </div>
    <div class="row">
        <input type="email" class="form-control" name="email" placeholder="E-mailadres" [(ngModel)]="credentials.email">
    </div>
    <div class="row">
        <input type="password" class="form-control" name="password" placeholder="Wachtwoord" [(ngModel)]="credentials.password">
    </div>
    <button type="submit" class="btn btn-default">Registreren!</button>
</form>
