@import '~variables.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $primary-font, sans-serif;
	font-size: 16px;
	outline: none;
}
body {
	outline: none;
	overflow-x: hidden;
}
form {
	padding: 15px;
	.error-message {
		background-color: $error;
		max-height: 0;
		padding: 0;
		padding-left: 10px;
		transition: 
			max-height .5s ease,
			padding .5s ease;
		.error-message-text {
			visibility: hidden;
			opacity: 0;
			transition: opacity .5s ease;
		}
	}
	.error-message-show {
		max-height: 100px;
		padding: 10px;
		.error-message-text {
			visibility: visible;
			opacity: 1;
		}
	}
	div.row {
		display: block;
		margin-bottom: 20px;
		label {
			font-weight: bold;
		}
		input, label {
			display: inline-block;
			width: 100%;
			font-size: 16px;
		}
		input {
			padding: 10px;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid #a1a1a3;
			transition: border-color .5s;
		}
		input:hover, input:focus {
			border-bottom: 2px solid $light-orange;
		}
		input::placeholder {
			color: #aca1b3;
			opacity: 1;
		}
	}
	button {
		width: 100%;
		text-align: center;
	}
}
button {
	cursor: pointer;
	background-color: $purple;
	color: white;
	padding: 15px;
	font-weight: bold;
	border: none;
	border-radius: 2px;
	margin-top: 10px;
	transition: opacity .5s;
}
button:hover {
	opacity: .8;
}
a {
	text-decoration: none;
	cursor: pointer;
}