@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// Colors
$purple: #d817a9;
$orange: #ff4e01;
$light-orange: #ffa700;
$light-gray: #f3e9f9;
$gray: #46455a;
$error: #ffdad3;

// Fonts
$primary-font: 'Open Sans';