@import '~variables.scss';

:host {
	display: block;
	padding: 15px 15px 0 15px;
	background-color: $purple;
	animation: show .5s;
	h1, p {
		color: white;
	}
	ul {
		margin-top: 15px;
		li.group {
			background-color: transparent;
			position: relative;
			display: inline-block;
			width: 100%;
			margin: 0 15px 15px 0;
			transition: background-color .5s;
			border-radius: 7px;
			a {
				display: block;
				color: white;
				text-decoration: none;
				text-align: center;
				padding: 10px 25px;
				width: 100%;
				border: 2px solid white;
				border-radius: 7px;
				font-weight: bold;
				transition: color .5s, border-color .5s;
			}
		}
		li.group:hover {
			background-color: white;
			a {
				color: $purple;
			}
		}
	}
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 420px) {

	:host {
		ul {
			li.group {
				width: initial;
				a {
					width: initial;
				}
			}
		}
	}
}

@media screen and (min-width: 1025px) {

	:host {
		padding-left: calc((100vw - 995px) / 2);
	}
}
