:host {
	display: block;
	div.block {
		background-color: #CCC;
		display: inline-block;
		padding: 15px;
		width: 100%;
		margin-bottom: 5px;
	}
	div.my-class {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 420px) { }

@media screen and (min-width: 1025px) {

	:host {
		margin: 0 15px 15px 15px;
		div.block {
			height: calc((100vh - 100px - 2 * 15px) / 2);
			vertical-align: top;
			overflow: hidden;
			margin: initial;
		}
		div.theme {
			margin-right: 15px;
			margin-bottom: 15px;
			width: calc((100% - 15px) * 3/4);
		}
		div.statement {
			margin-bottom: 15px;
			width: calc((100% - 15px) * 1/4);
		}
		div.explanation {
			margin-right: 15px;
			width: calc((100% - 2 * 15px) * 1/3);
		}
		div.exercise {
			margin-right: 15px;
			width: calc((100% - 2 * 15px) * 1/3);
		}
		div.my-class {
			width: calc((100% - 2 * 15px) * 1/3);
		}
	}
}
