<div class="block theme">
	<header><h1>{{theme.header}}</h1></header>
	<p>{{theme.content}}</p>
</div>
<div class="block statement">
	<p>{{theme.statement}}</p>
	<button></button>	
</div>
<div class="block explanation">
	{{theme.explanation.videoUrl}}
	<h1>{{theme.explanation.header}}</h1>
	<p>{{theme.explanation.content}}</p>
</div>
<div class="block exercise">
	{{theme.exercise.videoUrl}}
	<h1>{{theme.exercise.header}}</h1>
	<p>{{theme.exercise.content}}</p>
</div>
<div class="block my-class">
	<h1>Mijn Klas</h1>
	<p>
		Lever hier je eigen video's en artikelen in 
		en bekijk wat je klasgenoten hebben gemaakt.
	</p>
</div>