<div class="block theme" style="background-image: url('https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1440,w_2561,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1491847042/articles/2017/02/18/how-the-right-co-opted-fake-news/170217-whitney-trump-fake-news-tease_kpakpl')">
	<div class="theme-text">
		<header><h1>{{theme.header}}</h1></header>
		<p>{{theme.content}}</p>
		<button>Let's Go! ></button>
	</div>
</div>
<div class="block statement">
	<h1>Stelling:</h1>
	<p>{{theme.statement}}</p>
	<button class="button1">Moeilijk</button>
	<button class="button2">Makkelijk</button>
</div>
<div class="block explanation">
	{{theme.explanation.videoUrl}}
	<h1>{{theme.explanation.header}}</h1>
	<p>{{theme.explanation.content}}</p>
</div>
<div class="block exercise">
	{{theme.exercise.videoUrl}}
	<h1>{{theme.exercise.header}}</h1>
	<p>{{theme.exercise.content}}</p>
</div>
<div class="block my-class">
	<h1>Mijn Klas</h1>
	<p>
		Lever hier je eigen video's en artikelen in 
		en bekijk wat je klasgenoten hebben gemaakt.
	</p>
</div>