<form [formGroup]="form" (ngSubmit)="login(form.value)">
	<div class="row">
    	<label for="email" class="">E-mailadres</label>
		<input
			id="email"
			type="email" 
			placeholder="Je e-mailadres" 
			[formControl]="form.controls['email']" 
			[ngClass]="addErrorClassFor('email')" />
		<div class="error-message" [ngClass]="addErrorMessageClassFor('email')">
			<div class="error-message-text">
    			{{errorMessageEmail}}
    		</div>
    	</div>
	</div>
	<div class="row">
		<label for="password">Wachtwoord</label>
		<input
			id="password"
			type="password" 
			placeholder="En je wachtwoord" 
			[formControl]="form.controls['password']" 
			[ngClass]="addErrorClassFor('password')" />
		<div class="error-message" [ngClass]="addErrorMessageClassFor('password')">
			<div class="error-message-text">
				{{errorMessagePassword}}
			</div>
		</div>
	</div>
	<button type="submit">Inloggen</button>
</form>
